$veryDarkGray: hsl(0, 0%, 17%);
$darkGray: hsl(0, 0%, 59%);


.header {
    position: relative;
    background-image: url("./images/pattern-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    width: 100%;
}
